.transition-group {
  position: relative;
}

.slide-enter {
  opacity: 0;
  transform: translateX(50%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.2s linear;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.2s linear;
}
