@import "../../../Styles/common.scss";

.UserModal {
  display: block;
  position: absolute;
  top: 66px;
  left: -75px;
  padding: 23.5px 0;
  width: 190px;
  background-color: white;
  border-radius: 3.2px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 12px 20px 0px;
  transition: opacity 0.5s ease-in-out;

  li {
    display: block;
    padding: 6.5px 30px;
    max-width: 190px;
    color: rgb(30, 30, 30);
    font-size: 15px;

    &.notAllowed {
      color: black;
      cursor: not-allowed;
    }
  }
}